.toolbox {
	
	background: #f4f4f4;
	padding: 15px;

	&__container {
		display: flex;
		justify-content: space-between;

		@media only screen and (max-width: 767px) {
			display: block;
		}
	}

	&__search {
		padding: 5px 10px;
		min-width: 300px;
		border-radius: 5px;
		border: 1px solid #e535ab;

		@media only screen and (max-width: 767px) {
			margin-bottom: 10px;
			min-width: 100%;
		}
	}

	&__sort-group {
		display: flex;
		align-content: center;
		align-items: center;

		p {
			margin-bottom: 0;
			margin-right: 10px;
			font-size: .6em;
			font-weight: bold;
			color: #666;
			text-transform: uppercase;

			@media only screen and (max-width: 767px) {
				display: none;
			}
		}
	}

	select {
		border-radius: 5px;
		border: 1px solid #e535ab;
		background: url(../../images/icon_chevron.png) no-repeat #fff;
	    background-size: 40px 40px;
	    background-position: 100% 50%;
	    padding-right: 40px;
	}

	&__time-container {
		margin-left: 10px;
	}

}