.header {
	background: #fff;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	align-content: center;

	h1 {
		font-size: 2em;
		font-weight: bold;
		margin-bottom: 0;

		@media only screen and (max-width: 767px) {
			font-size: 1.5em;
		}
	}

	h2 {
		font-size: 1.5em;
		margin-bottom: 0;
		
		@media only screen and (max-width: 767px) {
			font-size: 1em;
		}
	}

	&__reddit {
		color: #ff4301;
	}

	&__graphql {
		color: #e535ab;
	}
}